<!DOCTYPE html  xmlns="http://www.w3.org/1999/xhtml">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="../static/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <style>
        .input_style {
            width: 300px;
            height: 25px;
            /*background-color: gold;*/
        }

        .el-form-item__label {
            font-size: 16px;
        }

        .el-form-item__content {
            font-size: 16px;

        }

        .el-textarea__inner {
            width: 600px;
            font-size: 16px;
        }


    </style>
</head>
<body>
<div id="app" style="width: 1024px; margin: auto;">
    <el-container>
        <el-main>
            <div class="head-style font-style">
                DNA assembly
            </div>

            <div class="menu-style">
                <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal"
                         {#@select="handleSelect"#}
                         background-color="#545c64"
                         text-color="#fff"
                         active-text-color="#ffd04b">

                    <el-menu-item index="1" class="menu-item">
                        <a href="home.html" target="_self">introduction</a>
                    </el-menu-item>

                    <el-menu-item index="2" class="menu-item">
                        <a href="assembly.html" target="_self">assembly</a>
                    </el-menu-item>

                    <el-menu-item index="3" class="menu-item">
                        <a href="doc" target="_self">doc</a>
                    </el-menu-item>

                </el-menu>
            </div>

            <el-container>
                <div id="show" class="main-height main-style"
                     style="background-color: #eeeeee;">

                    <el-tabs type="border-card" style="border: 0"
                             v-model="activeName"
                            {#@tab-click="handleClick"#}
                             ref="tabs">

                        <el-tab-pane label="input" name="input">

                            <el-form :model="dynamicValidateForm" ref="dynamicValidateForm" label-width="100px"
                                     class="demo-dynamic" style="border: 0; padding: 0">
                                <h2>Email address</h2>
                                <el-form-item
                                        prop="email"
                                        label="email"
                                        :rules="[{ required: true, message: 'Please enter email address', trigger: 'blur' },
                                                         { type: 'email', message: 'Please enter the correct email address', trigger: 'blur,change' }]"
                                >
                                    <el-input
                                            v-model="dynamicValidateForm.email"
                                            class="input_style"></el-input>
                                    Required.

                                </el-form-item>

                                <h2>Gene information</h2>
                                <el-form-item label="name">
                                    <el-input class="input_style"
                                            v-model="dynamicValidateForm.name"
                                    ></el-input>
                                    Optional.
                                </el-form-item>

                                <el-form-item label="description Optional">
                                    <el-input type="textarea" rows="4"
                                            v-model="dynamicValidateForm.description"

                                    >
                                        {#style="margin-top: 4px"#}
                                    </el-input>
                                </el-form-item>


                                <el-form-item prop="gene" style="margin-bottom: 5px !important;" label="DNA seq" required>
                                    <el-input type="textarea" rows="7"
                                            @input="calGeneLength"
                                            v-model="dynamicValidateForm.gene"
                                    ></el-input>
                                </el-form-item>

                                <el-form-item prop="geneLen" style="height: 30px; margin-top: -5px">
                                    <el-col :span="8" style="margin-left: 315px;">
                                        <span style="float: right; font-size: 16px; height: 30px; line-height: 30px">
                                            length: {[ dynamicValidateForm.geneLen ]}</span>
                                    </el-col>
                                </el-form-item>


                            </el-form>

                        </el-tab-pane>
                    </el-tabs>

                </div>
            </el-container>

            <div class="footer-style footer-font">
                Copyright © 2020 - 2021 Caltech. All rights reserved.
            </div>

        </el-main>
    </el-container>

</div>

</body>

<script src="../static/js/vue.js"></script>
<script src="../static/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        delimiters: ['{[', ']}'],
        data() {
            return {
                activeName: 'input',
                activeIndex: '2',

                dynamicValidateForm: {
                    email: '758168660@qq.com',
                    geneLen: 0,
                    result: 'res1',
                    min_len: 20,
                    max_len: 30,
                    result_type: 'Gap',
                    validation: 'No',
                    pools: 2,
                    tableData: [
                        {
                            name: 'Na',
                            data: 1.1,
                            ion: 'Na<sup>+</sup> (0.5-1.5M)',
                            unit: 'M',
                        }, {
                            name: 'K',
                            data: 50,
                            ion: 'Na<sup>+</sup> / K<sup>+</sup> (1-1000mM)',
                            unit: 'mM',
                        }, {
                            name: 'Mg',
                            data: 8,
                            ion: 'Mg<sup>2+</sup> (1-1000mM)',
                            unit: 'mM',
                        }, {
                            name: 'dNTPs',
                            data: 4,
                            ion: 'dNTPs (1-1000mM)',
                            unit: 'mM',
                        }, {
                            name: 'Tris',
                            data: 10,
                            ion: 'Tris<sup>2+</sup> (1-1000mM)',
                            unit: 'mM',
                        }, {
                            name: 'oligo',
                            data: 10,
                            ion: 'oligo (0.1-1000nM)',
                            unit: 'mM',
                        }, {
                            name: 'primer',
                            data: 400,
                            ion: 'primer (0.1-1000nM)',
                            unit: 'mM',
                        }],
                    name: '',
                    description: '',
                    gene: 'taagcacctgtaggatcgtacaggtttacgcaagaaaatggtttgttatagtcgaataacaccgtgcgtgttgactattttacctctggcggtgatatactagagaaagaggagaaatactagatgaccatgattacgccaagcgcgcaattaaccctcactaaagggaacaaaagctggagctccaccgcggtggcggcagcactagagctagtggatcccccgggctgtagaaattcgatatcaagcttatcgataccgtcgacctcgagggggggcccggtacccaattcgccctatagtgagtcgtattacgcgcgctcactggccgtcgttttacaacgtcgtgactgggaaaaccctggcgttacccaacttaatcgccttgcagcacatccccctttcgccagctggcgtaatagcgaagaggcccgcaccgatcgcccttcccaacagttgcgcagcctgaataataacgctgatagtgctagtgtagatcgctactagagccaggcatcaaataaaacgaaaggctcagtcgaaagactgggcctttcgttttatctgttgtttgtcggtgaacgctctctactagagtcacactggctcaccttcgggtgggcctttctgcgtttata'
                },
            }
        },

        created() {
            this.calGeneLength();
        },

        methods: {

            calGeneLength() {
                this.dynamicValidateForm.geneLen = this.dynamicValidateForm.gene.length;
                {#console.log(this.dynamicValidateForm.geneLen);#}
            },
        },


    });

</script>
</html>