<!DOCTYPE html  xmlns="http://www.w3.org/1999/xhtml">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="../static/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/assembly.css">

</head>
<body>
<div id="app" style="width: 1024px; margin: auto;">
    <el-container>
        <el-main>
            <div class="head-style font-style">
                DNA assembly
            </div>

            <div class="menu-style">
                <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal"
                         background-color="#545c64"
                         text-color="#fff"
                         active-text-color="#ffd04b">

                    <el-menu-item index="first" class="menu-item">
                        <a href="home.html" target="_self">introduction</a>
                    </el-menu-item>

                    <el-menu-item index="second" class="menu-item">
                        <a href="assembly.html" target="_self">assembly</a>
                    </el-menu-item>

                    <el-menu-item index="third" class="menu-item">
                        <a href="doc" target="_self">doc</a>
                    </el-menu-item>

                </el-menu>
            </div>

            <el-container>
                <div id="show" class="main-height main-style"
                     style="background-color: #eeeeee;">

                    <el-tabs type="border-card" style="border: 0"
                             v-model="activeName"
                             ref="tabs">

                        <el-tab-pane label="input" name="input">

                            <el-form :model="dynamicValidateForm" ref="dynamicValidateForm" label-width="120px">

                                <h3>Email Address</h3>
                                <el-form-item
                                        size="small"
                                        prop="email"
                                        label="email"
                                        :rules="[{ required: true, message: 'Please enter email address', trigger: 'blur' },
                                                 { type: 'email', message: 'Please enter the correct email address', trigger: 'blur,change' }]"
                                >
                                    <el-input
                                            size="small"
                                            clearable
                                            v-model="dynamicValidateForm.email"
                                            class="input_style"></el-input>
                                    Required.

                                </el-form-item>

                                <h3>Gene Information</h3>
                                <el-form-item
                                        size="small"
                                        label="name">
                                    <el-input class="input_style"
                                              size="small"
                                              clearable
                                              placement="top"
                                              v-model="dynamicValidateForm.geneName"
                                    ></el-input>
                                    Optional.
                                </el-form-item>

                                <el-form-item label="description Optional">
                                    <el-input
                                            clearable
                                            type="textarea" rows="4"
                                            v-model="dynamicValidateForm.geneDesc"
                                    >
                                    </el-input>
                                </el-form-item>


                                <el-form-item prop="gene" style="margin-bottom: 5px !important;" label="DNA seq"
                                              required>
                                    <el-input type="textarea" rows="7"
                                              @input="calGeneLength"
                                              v-model="dynamicValidateForm.gene"
                                    ></el-input>
                                </el-form-item>

                                <el-form-item prop="geneLen" style="height: 30px; margin-top: -5px">
                                    <el-col :span="8" style="margin-left: 322px;">
                                        <span style="float: right; height: 30px; line-height: 30px">
                                            length: {[ dynamicValidateForm.geneLen ]}</span>
                                    </el-col>
                                </el-form-item>

                                <h3>
                                    Parameters For Gene Synthesis
                                </h3>
                                <div id="table" style="margin-left: 120px;">

                                    <el-table
                                            :data="dynamicValidateForm.tableData"
                                            border
                                            stripe
                                            size="small"
                                            style="width: 60%"
                                            :cell-style="{'padding':'0px'}"
                                            :header-cell-style="{'padding':'8px'}"
                                    >
                                        <el-table-column
                                                prop="ion"
                                                label="ion"
                                                style="height: 26px!important; ">
                                            <template slot-scope="scope">
                                                <p v-html="scope.row.ion"
                                                   style="margin: 3px; height: 26px!important;"></p>
                                            </template>
                                        </el-table-column>

                                        <el-table-column
                                                prop="concentration"
                                                label="concentration">
                                            <template slot-scope="scope">
                                                <el-form-item
                                                        :prop="'tableData.' + scope.$index + '.name'"
                                                        style="margin: 1px"
                                                >
                                                    <el-input class="input_number"
                                                              size="small"
                                                              style="margin-left: -110px;"
                                                              v-model="scope.row.data"></el-input>
                                                    {[scope.row.unit]}
                                                </el-form-item>
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                </div>

                                <h3>Overlap Length</h3>
                                <el-form-item size="small">
                                    <el-col :span="8">
                                        <el-form-item prop="minLen" label="min:"
                                                      class="el-form-item_line"
                                                      required>
                                            <el-input class="input_number"
                                                      size="small"
                                                      v-model="dynamicValidateForm.minLen"></el-input>
                                        </el-form-item>
                                    </el-col>

                                    <el-col :span="8">
                                        <el-form-item prop="maxLen" label="max:"
                                                      class="el-form-item_line"
                                                      required>
                                            <el-input class="input_number"
                                                      size="small"
                                                      v-model="dynamicValidateForm.maxLen"></el-input>
                                        </el-form-item>
                                    </el-col>
                                </el-form-item>

                                <h3>Result Type</h3>
                                <el-form-item prop="resultType">
                                    <el-radio v-model="dynamicValidateForm.resultType" label="Gapless">
                                        Gapless
                                    </el-radio>
                                    <el-radio v-model="dynamicValidateForm.resultType" label="Gap">Gap
                                    </el-radio>
                                </el-form-item>

                                <h3>Long DNA Assembly(optional)</h3>
                                <div style="margin-left: 100px">
                                    <h4 style="margin-bottom: 15px;">Sequence will be partitioned into #of pools</h4>

                                    <el-form-item label="#of pools:" style="margin-left: -17px" prop="pools"
                                                  size="small"
                                                  required>
                                        <el-input class="input_number"
                                                  size="small"
                                                  v-model="dynamicValidateForm.pools"></el-input>
                                    </el-form-item>

                                </div>

                                <h3>Is Verification Required</h3>
                                <el-form-item prop="verification">
                                    <el-radio style="width: 76px" v-model="dynamicValidateForm.verification "
                                              label="No">No
                                    </el-radio>
                                    <el-radio v-model="dynamicValidateForm.verification " label="Yes">Yes
                                    </el-radio>
                                </el-form-item>

                                <div v-if="dynamicValidateForm.verification == 'Yes'">
                                    <el-form-item
                                            size="small"
                                            style="margin-left: 0px; ">
                                        <el-col :span="8">
                                            <el-form-item prop="temperature" label="temperature:"
                                                          class="el-form-item_line"
                                                          required>
                                                <el-input class="input_number"
                                                          size="small"
                                                          v-model="dynamicValidateForm.temperature"></el-input>
                                                &#8451;
                                            </el-form-item>
                                        </el-col>

                                        <el-col :span="8">
                                            <el-form-item prop="concentrations" label="concentrations:"
                                                          class="el-form-item_line"
                                                          required>
                                                <el-input class="input_number"
                                                          size="small"
                                                          v-model="dynamicValidateForm.concentrations"></el-input>
                                                mM
                                            </el-form-item>
                                        </el-col>
                                    </el-form-item>
                                </div>

                                <el-form-item style="margin-top: 30px;">
                                    <el-button style="margin-right: 70px; margin-left: 120px;" type="primary"
                                               size="small"
                                               @click="submitForm(dynamicValidateForm)">submit
                                    </el-button>
                                    <el-button  type="danger"
                                                size="small"
                                                @click="resetForm('dynamicValidateForm')">default
                                    </el-button>
                                </el-form-item>
                            </el-form>
                        </el-tab-pane>


                    </el-tabs>

                </div>
            </el-container>

            <div class="footer-style footer-font">
                Copyright © 2020 - 2021 Caltech. All rights reserved.
            </div>

        </el-main>
    </el-container>

</div>

</body>

<script src="../static/js/vue.js"></script>
<script src="../static/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        delimiters: ['{[', ']}'],
        data() {
            return {
                activeIndex: 'second',
                activeName: 'input',

                dynamicValidateForm: {
                    email: '758168660@qq.com',
                    geneLen: 0,
                    result: 'res1',
                    minLen: 20,
                    maxLen: 30,
                    resultType: 'Gap',
                    verification: 'Yes',
                    pools: 1,
                    tableData: [
                        {
                            name: 'Na',
                            data: 1.1,
                            ion: 'Na<sup>+</sup> (0.5-1.5M)',
                            unit: 'M',
                        }, {
                            name: 'K',
                            data: 50,
                            ion: 'Na<sup>+</sup> / K<sup>+</sup> (1-1000mM)',
                            unit: 'mM',
                        }, {
                            name: 'Mg',
                            data: 8,
                            ion: 'Mg<sup>2+</sup> (1-1000mM)',
                            unit: 'mM',
                        }, {
                            name: 'dNTPs',
                            data: 4,
                            ion: 'dNTPs (1-1000mM)',
                            unit: 'mM',
                        }, {
                            name: 'Tris',
                            data: 10,
                            ion: 'Tris<sup>2+</sup> (1-1000mM)',
                            unit: 'mM',
                        }, {
                            name: 'oligo',
                            data: 10,
                            ion: 'oligo (0.1-1000nM)',
                            unit: 'mM',
                        }, {
                            name: 'primer',
                            data: 400,
                            ion: 'primer (0.1-1000nM)',
                            unit: 'mM',
                        }],
                    geneName: 'name',
                    geneDesc: 'description',
                    temperature: 37,
                    concentrations: 1,
                    gene: 'taagcacctgtaggatcgtacaggtttacgcaagaaaatggtttgttatagtcgaataacaccgtgcgtgttgactattttacctctggcggtgatatactagagaaagaggagaaatactagatgaccatgattacgccaagcgcgcaattaaccctcactaaagggaacaaaagctggagctccaccgcggtggcggcagcactagagctagtggatcccccgggctgtagaaattcgatatcaagcttatcgataccgtcgacctcgagggggggcccggtacccaattcgccctatagtgagtcgtattacgcgcgctcactggccgtcgttttacaacgtcgtgactgggaaaaccctggcgttacccaacttaatcgccttgcagcacatccccctttcgccagctggcgtaatagcgaagaggcccgcaccgatcgcccttcccaacagttgcgcagcctgaataataacgctgatagtgctagtgtagatcgctactagagccaggcatcaaataaaacgaaaggctcagtcgaaagactgggcctttcgttttatctgttgtttgtcggtgaacgctctctactagagtcacactggctcaccttcgggtgggcctttctgcgtttata'
                },
            }
        },

        created() {
            this.calGeneLength();
        },


        methods: {
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },

            submitForm(formData) {
                console.log(formData);

            },

            calGeneLength() {
                this.dynamicValidateForm.geneLen = this.dynamicValidateForm.gene.length;
            },
        },


    });

</script>
</html>